

// Colour Scheme // 
$main: #23284c;
$secondary: #fff;


// Media Screen Sizes


//General Declarations

.header__inner {
    background-color: $main;
    color: $secondary;

    a {
        color: $secondary;
    }
}
