@import 'partials/variables.scss',
     'partials/home.scss',
     'partials/faqs.scss',
     'partials/contact.scss',
     'partials/header.scss',
     'partials/footer.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}